@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ShopBot</h1>
</div>

<form class="text-center">
    <label for="username">Email/Username:</label><br>
    <input type="text" id="username" name="username"><br />
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br /><br />

    <button type="button" class="text-center">Login</button>
</form>