@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a> An email has been sent to your inbox. Please verify your account through the link in the email. If the email does not appear, please check your spam folder.</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
