@{
	ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>


<h2>Who We Are!</h2>
<p>We are a group of 6 senior level computer science majors working on our secior capstone project. We are based at Louisiana Tech University. </p>

<h3>Our Inspiration</h3>
<p>For us we wanted to make something that could be useful to the averaage person during the begining of the covid crisis. We often saw how stores were running out of products such as the great toilet paper crisis that took place because of this, but we wanted to make a solution to this where people could go and make the shopping easier to them while not having to leave their homes. </p>

<h4>Our Goal</h4>
<p>What we wanted to do for this project is to make shopping online easier for you. Yes we know that there are other online stores that you can use to order things off of, but our goal is to connect multiple online shopping stores and connect them in one local page. With them connected this way you won't have to go from store to store online. With our website you will be able to create scheules and set up buy times for items that you want to get. When items are added it will check multiple online stores for the item that you are looking for and automatically prepare to buy it for you. When the item or items are purchased they will be shipped to you while you relax in your home which will save you a trip to the store.</p>

<h5>Our Members</h5>
<p><strong>Behram Dossabhoy</strong></p>

<p><strong>Austin Harvey</strong></p>

<p><strong>Andrew Hall</strong></p>

<p><strong>Damion Owens</strong></p>

<p><strong>Christopher McKay</strong></p>

<p><strong>Matthew Alvidrez</strong></p>
