@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ShopBot!</h1>
    <img src="ShopBot_Stick.png" />
    <p>We enable you to effortlessly buy products on a schedule (or only once)!</p>
</div>
