@{
	ViewData["Title"] = "Schedules";
}
<h1>@ViewData["Title"]</h1>


<p>Your schedules that you make will be displayed here and you will be able to see, edit, and display them.</p>


<p>Here you can select and view your old schedules</p>
<select name="number">
	<option value="">Select a number</option>
	<option value="1">One</option>
	<option value="2">Two</option>
	<option value="3">Three</option>
</select>

<p>this is a BOTTON</p>
<button type="button" onclick="alert('Hello world!')">Click Me!</button>
<button type="button" onclick="alert('I SAID NOT TO PRESS ME!')">Dont press me</button>





