@model ShopBot.Models.ScheduleModel
@{
    ViewData["Title"] = "Shedules";
    if (Model.Stuff == "It is in")
    {
        ViewData["Epic"] = "It is in";
    }

}


<h1>@ViewData["Title"]</h1>
<div>
<p>@ViewData["Epic"]</p>
</div>