@{
	ViewData["Title"] = "Tutorial";
}
<h1>@ViewData["Title"]</h1>


<p>This is a tutorial for our shop bot.</p>

<p>If you are a new user you will need to first head to the register page. There you will be prompted to register your email along with a password that you choose. You will get a verification email that you can use to confirm that you are using the correct email.</p>

<p>After you are registered you will now be able </p>