@{
	ViewData["Title"] = "Tutorial";
}
<h1>@ViewData["Title"]</h1>


<p>This is a tutorial for our shop bot.</p>

<p><strong>Making a ShopBot account</strong></p>
<p>If you are a new user you will need to first head to the register page. There you will be prompted to register your email along with a password that you choose. You will get a verification email that you can use to confirm that you are using the correct email. After you are registered you will now be able start making you shopping shedules.</p>

<p><strong>Making a schedule</strong> </p>
<p>When you are on the make schedule page you will be able to put what item you want along with the order date, quantity, and which store you are wanting to use. When you submit the schedule that you want to us we will then use that information to order that item for you automatically without the hastle.</p>


<p><strong>Viewing previous schedules</strong></p>
<p>When you are wanting to see the schedules that you have previosly used or made you can go to the View Schedules page. There you will be able to see your schedules that you have made anytime that you have been signed into your account.</p>